<p id="notice"><%= notice %></p>

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
     <div style="text-align:center;">
<h1>ポエム一覧</h1>
<div class="row">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Auther</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td><%= poem.title  %></td>
        <td><%= poem.content %></td>
        <td><%= poem.auther %></td>
        <td><%= link_to 'Show', poem, class: 'btn btn-default btn-sm btn-default'  %></td>
        <td><%= link_to 'Edit', edit_poem_path(poem), class: 'btn btn-default btn-sm btn-default'  %></td>
        <td><%= link_to 'Destroy', poem, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Poem', new_poem_path , class: 'btn btn-default btn-sm btn-success'%>


</div>
</div>
</div>
