<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @poem.content %>
</p>

<p>
  <strong>Auther:</strong>
  <%= @poem.auther %>
</p>

<%= link_to 'Edit', edit_poem_path %> |
<%= link_to 'Back', poems_path %>
</div>
</div>
